@import "ShortCSS/ShortCSS"

.batch-progress
  -h 30px
  -pos relative
  -bg #fff
  b-radius 8px
  -br 1px solid #ccc
  -m 10px 0
  -p 2px
  & > span
    -d block
    -h 100%
    -bgc #1834ff
    l-gradient #4d80ff, #002ffb
    b-radius 6px
    -pos relative
    overflow hidden

.batch-percent
  -d inline-block
  -fl right

.batch-progress-message
  -d inline-block

.batch-progress-message
.batch-percent
.batch-message
  -fs 120%
  -fw 700

