@import "ShortCSS/ShortCSS"

.notice
  -bg white
  -brl 4px solid #fff
  bx-shadow 2px 2px 5px #888
  -m 15px
  -p 1px 12px

  p
    -m .5em 0
    -p 2px


.notice-info
  -brc #2ea2cc


.notice-success
  -brc #7ad03a


.notice-warning
  -brc #ffba00


.notice-error
  -brc #dd3d36



